<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
	<appSettings>
		<add key="PRESENTATIONS_FOLDER" value="E:\Project_2\VisualStudio\Rohan\MarketingPDFMerge\WindowsFormsApp1\bin\Template\" />
		<!--<add key="PRESENTATIONS_FOLDER" value="G:\InformationTechnology\APPLICATIONS\Marketing\Presentations\Templates\" />-->
		<add key="PDF_Password"  value="20Years!"  />
	</appSettings>
	</configuration>
